<section class="py-20 bg-white bg-fixed bg-cover bg-[url('assets/imgs/workpage/blue.png')]" id="contact">
    <div class="container mx-auto">
      <h2 class="text-5xl font-bold text-center text-yellow-200">
        <div class="title">
          Talk to Me, <br>I Don't Bite!
        </div>
      </h2>
      <div class="md:p-12 max-sm:px-8">
        <div class="mt-12 flex flex-col md:flex-row justify-center items-center">
          <div class="md:w-1/2 flex justify-center" >
            <img alt="git of a spinning cute bear" height="auto" src="assets/imgs/bear_spinning.gif" width="60%" />
          </div>
          <div class="md:w-1/2 max-sm:w-full mt-8 md:mt-0">
            <form action="#" class="bg-gray-100 p-8 rounded-lg shadow-lg" method="POST">
              <div class="mb-4">
                <label class="block text-lg font-bold" for="name">
                  Name
                </label>
                <input class="w-full p-2 mt-2 border border-gray-300 rounded-lg" id="name" name="name" required=""
                  type="text" />
              </div>
              <div class="mb-4">
                <label class="block text-lg font-bold" for="email">
                  Email
                </label>
                <input class="w-full p-2 mt-2 border border-gray-300 rounded-lg" id="email" name="email" required=""
                  type="email" />
              </div>
              <div class="mb-4">
                <label class="block text-lg font-bold" for="message">
                  Message
                </label>
                <textarea class="w-full p-2 mt-2 border border-gray-300 rounded-lg" id="message" name="message"
                  required="" rows="4"></textarea>
              </div>
              <button class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600" type="submit">
                Send Message
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>