<section class="py-20 bg-gray-100" id="projects">
  <div class="container mx-auto">
    <h2 class="text-5xl font-bold text-center text-pink-500">
      <div class="title">
        Projets
      </div>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">

      <app-simplecard cardName="Recherche sur la VR publiée"
        presentation="A web application that allows users to track their tasks and manage their time efficiently."
        backgroundImageURL="assets/imgs/workpage/vr_unreal_engine.png" link="assets/tinypages/vrUE-page.html">
        <!-- https://www.mdpi.com/2076-3417/13/5/3044 -->
      </app-simplecard>

      <app-simplecard cardName="Global Illumation (C#)"
        presentation="Photorealistic image synthesis by accurately simulate light interactions (reflections, refractions, diffusions). Built using rasterization, then improved with Ray tracing, and finally Path tracing."
        backgroundImageURL="assets/imgs/workpage/global_illumination.png"
        link="assets/tinypages/globalIllumination-page.html">
      </app-simplecard>

      <app-simplecard cardName="Visite 3D avec OpenGL (C++)"
        presentation="You play as a bunny on a rollcoaster in a museum full of paintings and sculptures. The initial goal of the bunny was to conquer the world by being a master of culture and the arts"
        backgroundImageURL="assets/imgs/workpage/opengl_visite.png"
        link="https://github.com/HY-DAI/OpenGL_projet/blob/main/Rapport%20OpenGL.pdf">
      </app-simplecard>

      <app-simplecard cardName="Quiz sur la culture chinoise"
        presentation="Un front VueJs avec la librairie Tailwind, un back Flask avec bdd SQLite."
        backgroundImageURL="assets/imgs/workpage/quiz_culture_chinoise.png"
        link="https://github.com/HY-DAI/Projet_Quiz_Flask_VueJS">
      </app-simplecard>

      <app-simplecard cardName="Animation 3D avec Blender"
        presentation="3 months used to learn animation using Blender."
        backgroundImageURL="assets/imgs/workpage/animation_blender.png" link="assets/tinypages/animation3D-page.html">
      </app-simplecard>

      <app-simplecard cardName="Adent of Code"
        presentation="You don't need chocolate for this winter, only coding is enough OwO"
        backgroundImageURL="assets/imgs/workpage/santa_code.png" link="./projects/test.html">
      </app-simplecard>

    </div>
  </div>
</section>


<section class="py-20 bg-white" id="contact">
  <div class="container mx-auto">
    <h2 class="text-5xl font-bold text-center text-purple-500">
      <div class="title">
        Talk to Me, <br>I Don't Bite!
      </div>
    </h2>
    <div class="mt-12 flex flex-col md:flex-row justify-center items-center">
      <div class="md:w-1/2">
        <img alt="git of a spinning cute bear" height="400"
          src="assets/imgs/bear_spinning.gif"
          width="400" />
      </div>
      <div class="md:w-1/2 mt-8 md:mt-0 md:pl-12">
        <form action="#" class="bg-gray-100 p-8 rounded-lg shadow-lg" method="POST">
          <div class="mb-4">
            <label class="block text-lg font-bold" for="name">
              Name
            </label>
            <input class="w-full p-2 mt-2 border border-gray-300 rounded-lg" id="name" name="name" required=""
              type="text" />
          </div>
          <div class="mb-4">
            <label class="block text-lg font-bold" for="email">
              Email
            </label>
            <input class="w-full p-2 mt-2 border border-gray-300 rounded-lg" id="email" name="email" required=""
              type="email" />
          </div>
          <div class="mb-4">
            <label class="block text-lg font-bold" for="message">
              Message
            </label>
            <textarea class="w-full p-2 mt-2 border border-gray-300 rounded-lg" id="message" name="message" required=""
              rows="4"></textarea>
          </div>
          <button class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600" type="submit">
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</section>