<section class="bg-[#BED3C3] py-8" id="projects">
  <div class="container mx-auto w-[100%] p-8">
    <h2 class="font-bold text-center text-pink-500">
      <div class="title">
        Projets
      </div>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">

      <app-simplecard cardName="Recherche sur la VR publiée"
        presentation="How do 3D immersive models change the way people experience and understand new urban developments ? How to integrate BIM data into UnrealEngine4 ?"
        backgroundImageURL="assets/imgs/workpage/vr_unreal_engine.png" link="assets/tinypages/vrUE-page.html">
        <!-- https://www.mdpi.com/2076-3417/13/5/3044 -->
      </app-simplecard>

      <app-simplecard cardName="Global Illumation (C#)"
        presentation="Photorealistic image synthesis by accurately simulate light interactions (reflections, refractions, diffusions). Built using rasterization, then improved with Ray tracing, and finally Path tracing."
        backgroundImageURL="assets/imgs/workpage/global_illumination.png"
        link="https://github.com/HY-DAI/IlluminationGlobal_projet/blob/master/global_illumination.pdf">
      </app-simplecard>

      <app-simplecard cardName="Visite 3D avec OpenGL (C++)"
        presentation="You play as a bunny on a rollcoaster in a museum full of paintings and sculptures. Bunny-chan will conquer the world by being a master of culture and the arts."
        backgroundImageURL="assets/imgs/workpage/opengl_visite.png"
        link="https://github.com/HY-DAI/OpenGL_projet/blob/main/Rapport%20OpenGL.pdf">
      </app-simplecard>

      <app-simplecard cardName="Quiz sur la culture chinoise"
        presentation="Front in VueJs with Tailwind, Back with  Flask and SQLite Database. Would you not be less of a failure to this test than your life ?"
        backgroundImageURL="assets/imgs/workpage/quiz_culture_chinoise.png"
        link="https://github.com/HY-DAI/Projet_Quiz_Flask_VueJS">
      </app-simplecard>

      <app-simplecard cardName="Animation 3D avec Blender"
        presentation="3 months used to learn animation using Blender."
        backgroundImageURL="assets/imgs/workpage/animation_blender.png" link="assets/tinypages/animation3D-page.html">
      </app-simplecard>

      <app-simplecard cardName="Adent of Code"
        presentation="Who wants chocolate for Chrismas ? All you need is code (OwO) How many days remain until I finish all of them and allow myself some sunlight ?"
        backgroundImageURL="assets/imgs/workpage/santa_code.png" link="./projects/test.html">
      </app-simplecard>
    </div>
  </div>
</section>
