

<div class="ocean_bg pb-10">

    <div class="cat_left w-[150px] absolute right-0">
        <img src="assets/imgs/orange_cat_walking.gif">
    </div>
    
    <div class="cat_left faster w-[150px] absolute right-0">
        <img src="assets/imgs/skeleton_cat_walking.gif">
    </div>
    
    <div class="cat_right w-[150px] absolute right-0">
        <img src="assets/imgs/proud_cat_walking.gif">
    </div>

    <div class="h-[100px] pink_chess_bg">

    </div>

    <div
    class="gap-6 justify-center items-center grid grid-cols-1 place-items-center md:grid-cols-2 lg:gap-12 lg:grid-cols-3">

    <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
      backgroundImageURL="assets/imgs/bear_spinning.gif" linkedinURL="" imageURL="" licenseURL="">
    </app-flipcard>

    <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
      backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
    </app-flipcard>

    <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
      backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
    </app-flipcard>

    <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
      backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
    </app-flipcard>

  </div>
</div>


<div class="animated_bg pb-10">


    <img src="assets/imgs/proud_cat_walking.gif">

</div>


<div class="space_bg pb-10">


    <img src="assets/imgs/skeleton_cat_walking.gif">
    
</div>


<div class="pink_chess_bg pb-10">


    <img src="assets/imgs/orange_cat_walking.gif">
    
</div>

