<!-- cartes de présentation du site : carousel -->
<div class="h-[500px] w-screen relative text-white">

    <!-- contenu du carousel -->
    <div class="relative h-full items-center"  >

        <!-- image de fond -->       
        <div 
            class="relative h-full bg-fixed bg-cover bg-[url({{backgroundImageURLs[this.index]}})]"
            >    
        </div>   
        <!-- dégradé de couleur pour mieux voir le texte -->
        <div 
            class="absolute h-full bottom-0 left-0 right-0 bg-black bg-opacity-60"
            [ngClass]="{'white_flash': this.animate}"   >    
        </div>
        <div
            class="absolute h-full bottom-0 left-0 right-0 bg-gradient-to-b from-white/10 to-black/80">
        </div>
        <!-- texte -->
        <div class="block relative text-center bottom-32">
            <button class="text-3xl" >  
                <a routerLink="{{pageRelatedURLs[this.index]}}">
                    {{titles[this.index]}}
                </a>
            </button>
            <slot class="[this.index==1 ? 'bg-red-500' : 'bg-red-100']" name="paragraphes"></slot>
        </div>
        <div class="block relative text-4xl text-center bottom-64">
            JE SUIS UN GENIE
        </div>
    </div>

    <!-- bouton précédent -->
    <button class="absolute top-0 bottom-0 left-0 flex items-center justify-center text-center border-0 
        w-1/4  text-white
        hover:outline-none hover:no-underline focus:outline-none focus:no-underline" type="button"
        (click)="previousImg()">
        <div class="absolute left-10 opacity-60">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
            class="w-12 h-12 invisible">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
    </div>
    </button>
    <!-- bouton suivant -->
    <button class="absolute top-0 bottom-0 right-0 flex items-center justify-center text-center border-0 
        w-1/4 text-white
        hover:outline-none hover:no-underline focus:outline-none focus:no-underline" type="button" (click)="nextImg()">
        <div class="absolute right-10 opacity-60">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
            class="w-12 h-12 invisible">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
        </div>
    </button>

    <!-- boutons en dessous pour passer d'une slide à l'autre -->
    <div class="absolute right-0 bottom-14 left-0 flex flex-row space-x-4 justify-center ">
        <ng-template ngFor let-item [ngForOf]="titles" let-i="index">
            <button class="flex-initial w-14 h-2 rounded-full bg-white"
            [ngClass]="this.index==i ? 'bg-opacity-100' : 'bg-opacity-50'"
            type="button" (click)="setImgIndex(i)">
                <div class="invisible">-</div>
            </button>
        </ng-template>
    </div>
</div>



<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            prout
            <img src="https://www.flickr.com/photos/seeminglee/14615975852" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            prout2
            <img src="https://www.cwa-ni.org/history-of-chinese-new-year/" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            prout3
            <img src="https://www.flickr.com/photos/seeminglee/14615975852" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            prout4
            <img src="https://www.cwa-ni.org/history-of-chinese-new-year/" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
