<button (mouseover)="this.visible=true" (mouseleave)="this.visible=false"
    class="visible flex space-x-2 text-white p-2 pr-4 bg-red-400 
  rounded-full  bg-opacity-60 animate-bounce hover:bg-opacity-90 hover:animate-none">
    <svg class="block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
    </svg>
    <div class="block">
        {{this.titreBtn}}
    </div>
</button>

<div [ngClass]="this.visible ? '' : 'hidden'">

    <div class="mt-20 text-3xl text-center bg-red-400 py-10 animate-bounce">
        {{this.titreContenu}}
    </div>
    <div class="bg-orange-100 p-10">
        <div >
            <img class="absolute w-32 -mt-36 -ml-12" src="{{this.imageURL}}" />
        
            <p>{{this.description1}}</p>
            <p>{{this.description2}}</p>
            <p>{{this.description3}}</p>
        </div>
    </div>
</div>