<div class="">
  <!-- <app-carrousel 
      [backgroundImageURLs]="[
      'assets/imgs/rabbit.png',
      'assets/imgs/sweets.jpg',
      'assets/imgs/rabbit.png',
      'assets/imgs/sweets.jpg']" 
      [titles]="[
      'Developpement',
      'Animations',
      'Games',
      'Others']" 
      [pageRelatedURLs]="[
      '/artpage',
      '/workpage',
      '/artpage',
      '//artpage']">
    </app-carrousel>
   -->

  <!-- <div class="m-10 mt-20 font-mono">   
      <app-infohover titreBtn="About me" titreContenu="Welcome \(^w^)/" imageURL="assets/imgs/bear_lick_sweet.gif"
        description1="    Bonjour et bienvenue sur mon portfolio !" description2="
      Développeuse full-stack, je suis passionnée par la création de solutions innovantes et efficaces pour les
      entreprises et les particuliers.
  
      Voici une sélection de mes projets les plus significatifs, ainsi que des détails sur
      mes compétences et mon parcours professionnel. N'hésitez pas à me contacter pour toute question ou opportunité
      de collaboration !" description3="    Merci de votre visite !    ">
      </app-infohover>

    </div> -->

  <div
    class="relative w-full h-screen bg-cover bg-center bg-no-repeat bg-fixed bg-[url('assets/imgs/homepage/background-openspace.png')] overflow-x-hidden">
    <app-background-text></app-background-text>
    <app-interactive-face></app-interactive-face>
  </div>

  <app-workpage></app-workpage>


  <footer class="bg-gradient-to-r from-pink-500 to-purple-500 text-white p-6">
    <div class="container mx-auto text-center">
      <p>
        © 2023 My Portfolio. All rights reserved.
      </p>
      <div class="mt-4">
        <a class="text-white hover:text-gray-200 mx-2" href="#">
          <i class="fab fa-facebook-f">
          </i>
        </a>
        <a class="text-white hover:text-gray-200 mx-2" href="#">
          <i class="fab fa-twitter">
          </i>
        </a>
        <a class="text-white hover:text-gray-200 mx-2" href="#">
          <i class="fab fa-linkedin-in">
          </i>
        </a>
        <a class="text-white hover:text-gray-200 mx-2" href="#">
          <i class="fab fa-github">
          </i>
        </a>
      </div>
    </div>
  </footer>
