<div class="toolbar bg-opacity-50
bg-[url('assets/imgs/sweets.jpg')] bg-fixed bg-cover" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer"></div>
  <a target="_blank" rel="noopener" href="https://fr.linkedin.com/in/huiying-dai-7219a71b5" title="LinkedIn">
    <svg id="linkedin-logo" height="24" width="24" data-name="Logo" viewBox="0 0 80 80" fill="#fff">
      <path
        d="M1.15 21.7h13V61h-13zm46.55-1.3c-5.7 0-9.1 2.1-12.7 6.7v-5.4H22V61h13.1V39.7c0-4.5 2.3-8.9 7.5-8.9s8.3 4.4 8.3 8.8V61H64V38.7c0-15.5-10.5-18.3-16.3-18.3zM7.7 2.6C3.4 2.6 0 5.7 0 9.5s3.4 6.9 7.7 6.9 7.7-3.1 7.7-6.9S12 2.6 7.7 2.6z" />
    </svg>
  </a>
  <a target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" viewBox="0 0 24 24" fill="#fff">
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
    </svg>
  </a>
</div>

<div class="welcome_bg pt-10 pb-10">
  <div class="m-10 mt-20 font-mono">

    <div class="invisible h-5 hover:visible hover:h-full">
      <button class="visible flex space-x-2 text-white p-2 pr-4 bg-red-400 
      rounded-full  bg-opacity-60 animate-bounce hover:bg-opacity-90 hover:animate-none">
        <svg class="block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
        </svg>
        <div class="block">
        About me
      </div>
    </button>

      <div class="mt-20 text-3xl text-center bg-red-400 py-10 animate-bounce">
        Welcome \(^w^)/
      </div>
      <div class="bg-orange-100 p-10">

        <div class="absolute w-32 -mt-36 -ml-12">
          <img class="" src="assets/imgs/bear_lick_sweet.gif" />
        </div>
        Bonjour et bienvenue sur mon portfolio !
        <br />
        Je suis un développeur full-stack passionné par la création de solutions innovantes et efficaces pour les
        entreprises et les particuliers.

        Dans ce portfolio, vous trouverez une sélection de mes projets les plus significatifs, ainsi que des détails sur
        mes compétences et mon parcours professionnel. N'hésitez pas à me contacter pour toute question ou opportunité
        de collaboration !
        <br />
        Merci de votre visite !
      </div>
    </div>

    <div class="mt-20 text-3xl text-center bg-red-400 py-10 ">
      Mes projets info 
    </div>

    <app-carrousel 
    [backgroundImageURLs]= "[
    'assets/imgs/sweets.jpg',
    'assets/imgs/sweets.jpg']"
    [titles]="[
    'OpenGL',
    'Blender']"
    > </app-carrousel>

    <div
      class="mt-10 gap-6 justify-center items-center grid grid-cols-1 place-items-center md:grid-cols-2 lg:gap-12 lg:grid-cols-3">

      <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
        backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
      </app-flipcard>

      <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
        backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
      </app-flipcard>

      <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
        backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
      </app-flipcard>

      <app-flipcard name="OpenGL" presentation="Rollcoaster little game" hobby="Bunny-chan will conquer the world"
        backgroundImageURL="assets/imgs/rabbit.png" linkedinURL="" imageURL="" licenseURL="">
      </app-flipcard>

    </div>
  </div>
</div>