/* Make the component fill the screen */
.container {
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* background: #fdf6f0;  */
  touch-action: manipulation;;
}

.face-wrapper {
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
}

.face-img {
  position: absolute;
  min-width: 900px;
  width: 900px; 
  height: auto; 
  /* left: 50%; */
  /* top: 50%; */
  transform: translate(-50%, -50%); /* Centers the image */
}

.facestuff {
  position: absolute;
  left: 4%;
  /* top: -3%; */
  transform: translate(-50%, -50%);
}

/* Eyeballs */
.eyeball {
  position: absolute;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

/* .eyeball.left {
  top: 38%;
  left: 36%;
}

.eyeball.right {
  top: 38%;
  left: 58%;
} */

#nose {
  position: absolute;
  transition: transform 0.1s linear;
  transform-origin: center;
}

#mouth {
  position: absolute;
  animation: smirk 2s infinite ease-in-out;
  transform-origin: center;
}

/* 
@keyframes smirk {
  0%, 100% {
    d: path("M130,190 Q150,200 170,190");
  }
  50% {
    d: path("M130,190 Q150,210 170,190");
  }
} */

/* @keyframes nose-wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
} */